<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %} {% endblock css %}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='public/css/style.css') }}"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap" rel="stylesheet">
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
    <header class="navbar">
        <a href="/"><img class="logo" src="{{ url_for('static', filename='public/assets/images/logo.png') }}"></a>
    </header>
    <div class="main-content">
        {% block main %} {% endblock main %}
    </div>
    <footer class="footer"></footer>
</body>
</html>
