.navbar {
  background-color: #26aaa3;
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding: 5px 0;
  position: sticky;
  top: 0;
  margin-bottom: 3vh;
}

.logo {
  margin-left: 10vw;
	cursor: pointer;
	height: 50px;
}
