html,
:root {
  height: 100%;
}

input {
  box-sizing: border-box;
  outline: none;
}

body {
  /* background: linear-gradient(180deg, #3ce2ab 0%, #1f584f 100%); */
  background-size: 100%;
  margin: 0;
  height: 100%;
  /* font-family: "Open Sans", sans-serif; */
	font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.main-content {
  width: 70%;
  /* border: 1px solid black; */
  margin: 0 auto;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.form-content {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: 100%;
}
.forms {
  /* width: 800px; */
  /* min-height: 400px; */
  background: #fff;
  border-radius: 6px;
  padding: 20px 30px;
  box-shadow: 10px 10px 30px #bdbdbd;
}

.forms legend {
  color: #26aaa3;
  font-weight: bold;
  text-align: center;
  margin: 5px 0 10px 0;
  font-size: 1.8em;
}

.field {
  margin: 10px 0;
  /* box-shadow: inset 1px 1px 3px #d1d1d1; */
  padding: 5px;
  /* width: 50%; */
  /* border-radius: 5px; */
}

.signin-field {
  /* margin: 10px 0; */
  /* box-shadow: inset 1px 1px 3px #d1d1d1; */
  /* padding: 5px; */
  width: 100%;
  /* border-radius: 5px; */
}

.signup-field {
  width: 50%;
}

.field label {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  color: #393939;
  /* text-align: center; */
  margin-bottom: 5px;
  /* cursor: pointer; */
}

.field input:not([type="checkbox"]) {
  background: #ffffff;
  border: 1px solid #a0a0a0;
  border-radius: 3px;
  padding: 8px 10px;
  display: block;
  width: 100%;
  transition: 0.5s;
}

.field input:focus {
  border-color: #20a1b2;
  border-radius: 5px;
}

.field input::placeholder {
  color: #818181;
  font-weight: 300;
}

.column {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  width: 50%;
}

.column .field {
  width: 48%;
}

.form-footer {
  display: block;
  text-align: center;
}

.button {
  /* background: #73a4dc; */
  background-color: #26aaa3;
  border-radius: 2px;
  padding: 10px 15px;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  /* background: #5988bd; */
  background-color: #229993;
}

/* .right-space {
  width: 300px;
  height: 500px;
  border: 1px solid black;
} */

.navbar {
	/* background-color: rgb(156, 196, 240); */
  background-color: #26aaa3;
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding: 5px 0;
	/* padding: 5px 10%; */
  position: sticky;
  /* width: 100%; */
  top: 0;
  /* left: 0; */
  margin-bottom: 3vh;
}

.logo {
  margin-left: 10vw;
	cursor: pointer;
	height: 50px;
}

.block-fields {
  display: flex;
  flex: 1;
}

.between {
  border: 0.5px solid #9A9A9A;
  background-color: #9A9A9A;
  height: 340px;
  margin: 0 7px;
}

hr {
  border-color: #9A9A9A;
  border-style: solid;
  background-color: #9A9A9A;
  height: 0.1vh;
}
