{% extends "public/templates/public_template.html" %}

{% block title %}
Entrar
{% endblock title %}

{% block main %} 
<div class="form-content">
    <form action="/auth" method="post" class="forms">
        {{ form.csrf_token }}
        <legend>Entrar</legend>
        <hr>
        <div class="signin-field field">
            {{ form.email.label }}
            {{ form.email(size=40, placeholder='Insira seu email') }}
            {% for message in form.email.errors %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        <div class="signin-field field">
            {{ form.password.label }}
            {{ form.password(size=20, placeholder='Insira sua senha') }}
            {% for message in form.password.errors %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        <div class="form-footer">
            {{ form.submit(class="button") }}
            <p>Ainda não tem uma conta? Então crie uma <a href="/signup">aqui</a>.</p>
        </div>
    </form>
</div>
<div class="right-space">
    <img src="{{ url_for('static', filename='public/assets/images/tiago-mazzutti.png') }}" alt="">
</div>
{% endblock main %}
